<nav class="mobile-bottom-nav" aria-label="Mobile bottom navigation">
    <a href="{{ '/' | relative_url }}" id="nav-home">
        <span class="nav-icon-m"><i class="fa-solid fa-house"></i></span>
        Home
    </a>
    <button id="nav-search" onclick="if(window.openSearchModal) window.openSearchModal();">
        <span class="nav-icon-m"><i class="fa-solid fa-magnifying-glass"></i></span>
        Search
    </button>
    <a href="{{ '/categories/' | relative_url }}" id="nav-explore">
        <span class="nav-icon-m"><i class="fa-solid fa-compass"></i></span>
        Explore
    </a>
    <a href="{{ '/about/' | relative_url }}" id="nav-about">
        <span class="nav-icon-m"><i class="fa-solid fa-circle-info"></i></span>
        About
    </a>
</nav>